<h1>Friday Checker</h1>

<p>Date: <%= date.toDateString() %></p>
<p>Day: <%= day %></p>

<% if(isFriday){ %>
<h2 style="color:red">🎉 IT'S FRIDAY 🎉</h2>
<p>Party time!!!</p>
<% } else { %>
<p>Sadly it is not Friday.</p>
<% } %>